
<h1>Calculator Using Angular</h1>
<div class="calculator">
  <div class="calculator-output" *ngIf="!evaluateResult">0</div>
  <div class="calculator-output" *ngIf="evaluateResult">{{stringToEvaluate}}</div>

<div class="calculator_keys">
  <button class="calculator_keys Calculator-operator" (click)="takeInput('+')">+</button>
  <button class="calculator_keys Calculator-operator"(click)="takeInput('-')">-</button>
  <button class="calculator_keys Calculator-operator"(click)="takeInput('/')">/</button>
  <button class="calculator_keys Calculator-operator"(click)="takeInput('*')">*</button>
  <button class="calculator_keys"(click)="takeInput('7')">7</button>
  <button class="calculator_keys"(click)="takeInput('8')">8</button>
  <button class="calculator_keys"(click)="takeInput('9')">9</button>
  <button class="calculator_keys"(click)="takeInput('4')">4</button>
  <button class="calculator_keys"(click)="takeInput('6')">6</button>
  <button class="calculator_keys"(click)="takeInput('1')">1</button>
  <button class="calculator_keys"(click)="takeInput('2')">2</button>
  <button class="calculator_keys"(click)="takeInput('3')">3</button>
  <button class="calculator_keys"(click)="takeInput('0')">0</button>
  <button class="calculator_keys"(click)="takeInput('.')">.</button>
  <button class="calculator_keys " (click)="evaluateResult()">=</button>
  <button class="calculator_keys" (click)="resetInput()" >AC</button>



</div>
</div>
